<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/faculty.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/js/materialize.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body ng-app="app" ng-controller="facultyController" ng-init="init(<%=JSON.stringify(faculty._id)%>)">
  <% include top_bar.ejs %>
   <div class="row faculty-profile-large">
     <div class="col m3 l3 stats hide-on-small-only">
       <br><br>
       <img id="profileImage" src="../profile/image?id=<%= faculty._id %>" style="width: 100%">
       <form id="profileForm" method="post" action="../profile/image" enctype="multipart/form-data">
         <input type="file" id="imgupload" style="display:none" name="image"/>
       </form>
       <h4 class="white-text" style="text-decoration: underline;">Stats</h4>
       <p class="header">Rating:</p>
       <p>
         <span class="rating-text">3/5</span>
         <span class="rating">
          <span class="filled">☆</span>
          <span class="filled">☆</span>
          <span class="filled">☆</span>
          <span>☆</span>
          <span>☆</span>
       </p>
       <p class="header">Experience: </p>
       <p>10 years</p>
       <p class="header">Success Ratio: </p>
       <p>88.2%</p>
       <p class="header">Mode Of Teaching: </p>
       <ul>
           <% faculty.faculty.mode_teaching.forEach(function(mode) { %>
         <li><p><%= mode %></p></li>
           <% }); %>
       </ul>
       <p class="header">Current Institute: </p>
       <p><%= faculty.faculty.current_institute %></p>
      </div>
      <div class="col s12 m9 l9 data">
        <br>
        <div class="row">
          <div class="col s10 m8 l8">
            <h4 class="blue-text">
              <%= faculty.name_first + " " + faculty.name_last %>
            </h4>
            <p class="grey-text"><%= faculty.faculty.education %></p>
            <p style=""><%= faculty.description %></p>
            <div class="row">
              <div class="col m4 l4">
                <p class="blue-text">Expertise</p>
                <p><%= faculty.faculty.expertise %></p>
              </div>
              <div class="col m4 l4">
                <p class="blue-text">Location</p>
                <p><%= faculty.faculty.location %></p>
              </div>
              <div class="col m4 l4">
                <p class="blue-text">Contact</p>
                <p><%= faculty.faculty.contact %></p>
              </div>
            </div>
            <div class="row hide-on-med-and-up">
              <a href="#" class="follow-button" ng-click="follow(true)"><i class="fa fa-rss"></i>&nbsp&nbspFollow</a><br><br>
              <a href="#" class="follow-button">Download Profile</a>
            </div>
            <div class="row stats hide-on-med-and-up">
              <br><br>
              <img id="profileImage" src="../profile/image?id=<%= faculty._id %>" style="width: 100%">
              <form id="profileForm" method="post" action="../profile/image" enctype="multipart/form-data">
                <input type="file" id="imgupload" style="display:none" name="image"/>
              </form>
              <h4 class="white-text" style="text-decoration: underline;">Stats</h4>
              <p class="header">Rating:</p>
              <p>
                <span class="rating-text">3/5</span>
                <span class="rating">
                 <span class="filled">☆</span>
                 <span class="filled">☆</span>
                 <span class="filled">☆</span>
                 <span>☆</span>
                 <span>☆</span>
              </p>
              <p class="header">Experience: </p>
              <p>10 years</p>
              <p class="header">Success Ratio: </p>
              <p>88.2%</p>
              <p class="header">Mode Of Teaching: </p>
              <ul>
                  <% faculty.faculty.mode_teaching.forEach(function(mode) { %>
                <li><p><%= mode %></p></li>
                  <% }); %>
              </ul>
              <p class="header">Current Institute: </p>
              <p><%= faculty.faculty.current_institute %></p>
             </div>
            <div class="row">
              <div class="col s12">
                <ul class="tabs">
                  <li class="tab col s12 m3 l3"><a class="active" href="#timeline">Timeline</a></li>
                  <li class="tab col s12 m3 l3"><a href="#reviews">Reviews</a></li>
                  <li class="tab col s12 m3 l3"><a href="#achievements" style="font-size: 80%">Achievements</a></li>
                  <li class="tab col s12 m3 l3"><a href="#experience">Experience</a></li>
                </ul>
              </div>
              <div id="timeline" class="col s12">
                <div class="post-feed">
                  <textarea name="data" placeholder="Ask A Question" ng-model="postText" resizable="false"></textarea>
                  <input type="file" style="display: none;" accept="image/*">
                  <p><a href="#" onClick="fileTrigger()" style="color: black"><i class="fa fa-paperclip" style="transform: rotate(270deg)"></i>Attach A File</a>
                    <button type="button" ng-click="postFeed()" class="right post-btn">Post</button>
                  </p>
                </div>
                <div class="feed-single"  style="margin-bottom: 20px;" ng-repeat="post in posts">
                  <div class="feed-header">
                    <img height="70px" width="70px" src="../profile/image?id={{post.posted_by._id}}">
                    <a href="#" style="color: white;">{{post.posted_by.name_first}} {{post.posted_by.name_last}}</a>
                  </div>
                  <div class="feed-time" style="position: relative;left: 10px;">
                    <p class="grey-text">{{post.time | date}}</p>
                  </div>
                  <div class="feed-content">
                    <p>{{post.text}}</p>
                    {{post.post}}
                    <!-- <img src="/images/carouselimage.png"> -->
                  </div>
                  <div class="feed-like">
                    <a href ng-click="likePost(post._id)"><i class="fa fa-thumbs-up"></i>Like</a>
                    <!-- <a href="#"><i class="fa fa-comment"></i> Comment</a>
                    <a href="#"><i class="fa fa-share"></i> Share</a> -->
                    <div class="post-feed">
                      <textarea name="commentText" placeholder="Comment" ng-model="commentText" resizable="false"></textarea>
                      <input type="file" style="display: none;" accept="image/*">
                      <p style="height: 50px">
                        <button type="button" ng-click="commentFeed(post._id)" class="right post-btn">Post</button>
                      </p>
                      <div class="comment" ng-repeat="comment in post.comment">
                        <p><a href="#" style="font-weight: bold">{{comment.posted_by.name_first}} {{comment.posted_by.name_last}}</a></p>
                        <p style="margin-left: 5%;">{{comment.text}}</p>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
              <div id="reviews" class="col s12">
                <br><br>
                <div class="post-feed row">

                  <form action="#" method="post" ng-submit="addReview()">
                    <textarea name="review" placeholder="Review Text" ng-model="reviewText" resizable="false"></textarea>
                    <!-- <input name="id" type="text" ng-model="reviewId" value="<%=faculty._id%>"> -->
                    <div class="row">
                      <div class="col s2">
                      <select name="rating" placeholder="Rating" ng-model="reviewRating" ng-init="reviewRating = 'Rating'" class="input-field" ng-options="reviewRatingValue for reviewRatingValue in reviewRatingValues">
                        <!-- <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option> -->
                      </select>
                      </div>
                      <div class="col pull-s1 s6 m8 l8" style="margin-top: 20px;">
                        <button type="button" ng-click="addReview()" class="right post-btn">Post</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="review row" ng-repeat="review in reviews | orderBy:'+':true">
                  <div class="col s3">
                    <img src="/images/profile.png">
                  </div>
                  <div class="col s9 pull-s1" style="">
                    <p class="review-text">
                      {{review.review}}
                    </p>
                    <p class="review-rating">
                      <b>Rated:  {{review.rating}} <span class="blue-text">&#x2605;</span></b>
                    </p>
                    <p class="review-date">
                      <b>{{review.time | date}}</b>
                    </p>
                  </div>
                </div>
              </div>
              <div id="achievements" class="col s12">
                <a href="#" class="right" style="font-size: 150%"><i class="fa fa-pencil"></i></a>
                <ul>
                    <% faculty.faculty.achievements.forEach(function(experience) { %>
                  <li>
                    <div class="experience-field">
                      <div class="experience-title">
                        <p><%= experience.details %></p>
                      </div>
                      <div class="experience-details">
                        <p class="experience-duration"><%= experience.year %></p>
                      </div>
                    </div>
                  </li>
                    <% }); %>
                </ul>
              </div>
              <div id="experience" class="col s12">
                <br>
                <a href="#" class="right" style="font-size: 150%"><i class="fa fa-pencil"></i></a>
                <ul>
                    <% faculty.faculty.experience.forEach(function(experience) { %>
                  <li>
                    <div class="experience-field">
                      <div class="experience-title"><p><%= experience.details %></p></div>
                      <div class="experience-details">
                        <p class="experience-duration"><%= experience.year %></p>
                        <p class="experience-location"><%= experience.location %></p>
                      </div>
                    </div>
                  </li>
                    <% }); %>
                </ul>
              </div>
            </div>
          <div class="col m4 l4 hide-on-small-only">
            <a href="#" class="follow-button" ng-click="follow(true)"><i class="fa fa-rss"></i>&nbsp&nbspFollow</a>
            <a href="#" class="follow-button">Download Profile</a>
          </div>
        </div>
        </div>
      </div>
     </div>
   </div>
  </body>
  <div id="searchcontainer">
    <form id="search" action="/web/search" method="get">
      <input type="text" name="text" id="text" placeholder="Enter search terms...">
      <div>Press Enter to Search</div>
    </form>
  </div>
</html>
<script>
  $(document).ready(function(){
    $('.tabs').tabs();
    $('.stats').height($('.data').height());
    $(".button-collapse").sideNav();
    $('select').material_select();
  })
  $('#profileImage').click(function(){ $('#imgupload').trigger('click'); });
  $('#imgupload').change(function() {
      $('#profileForm').submit();
  });
  var ismobile = navigator.userAgent.match(/(iPad)|(iPhone)|(iPod)|(android)|(webOS)/i) != null
  var touchorclick = (ismobile)? 'touchstart' : 'click'
  var searchcontainer = document.getElementById('searchcontainer')
  var searchfield = document.getElementById('search-terms')
  var searchlabel = document.getElementById('search-label')

  searchlabel.addEventListener(touchorclick, function(e){ // when user clicks on search label
  	searchcontainer.classList.toggle('opensearch') // add or remove 'opensearch' to searchcontainer
  	if (!searchcontainer.classList.contains('opensearch')){ // if hiding searchcontainer
  		searchfield.blur() // blur search field
  		e.preventDefault() // prevent default label behavior of focusing on search field again
  	}
  	e.stopPropagation() // stop event from bubbling upwards
  }, false)

  searchfield.addEventListener(touchorclick, function(e){ // when user clicks on search field
  	e.stopPropagation() // stop event from bubbling upwards
  }, false)

  document.addEventListener(touchorclick, function(e){ // when user clicks anywhere in document
  	searchcontainer.classList.remove('opensearch')
  	searchfield.blur()
  }, false)
</script>
