<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/signup.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <title>Search <%=query%> | Scholocal</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row" style="padding-bottom: -10px;border-bottom: 1px solid #34536f;">
        <h1 style="color: #34536f;border-bottom: 5px solid #002163;width: 50%;position: relative;top: 13px;">Search Results for "<%=query%>"</h1>
    </div>
    <br><br>
    <%for(var i in data){%>
      <div class="result">
        <img src="/images/profile.png">
        <a href="#"><%=data[i].name_first%> <%=data[i].name_last%> - <%=data[i].role.charAt(0).toUpperCase() + data[i].role.slice(1)%></a>
      </div>
      <br>
    <%}%>
</div>
</body>
</html>
<style>
  .result{
    margin-left: 10%;
    font-size: 160%;
  }
</style>
